/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anton|Bangers|Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');

:root {
  --white-color: #ffffff;
  --light-grey-color: #EAE8E8;
  --light-green-color: #1ecc78;
  --green-color: #0cb765;
  --red-color: #EB1D27;
  --blue-color: #4f78a4;
  --dark-red-color: #d31017;
  --dark-grey-color: #363636;
  --black-color: #333030;
  --deep-black-color: #000000;
}

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Bangers', cursive;
  font-size: 70px;
  color: var(--white-color);
  font-weight: normal;
  text-align: center;
  letter-spacing: 6px;
  cursor: pointer;
  margin: 0 auto;
}

h1 a {
  color: gray;
  text-decoration: none;
  font-family: 'Bangers', cursive;
}

h1 a:hover {
  color: inherit;
}

h2,
h3 {
  font-weight: normal;
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn_yellow{
  background-color: #ffc107 !important;
  color: white !important;
}

.is_running{

  background-color: green !important;
  color: white !important;

}

.is_not_running{

  background-color: red !important;
  color: white !important;

}

.is_created{

  background-color: dodgerblue !important;
  color: white !important;

}

/* HEADER */
header {
  display: flex;
  justify-content: center;
}

.banner-container {
  padding: 20px 0;
  flex-basis: 80%;
}
/* END HEADER */

/* MAIN */
main {
  flex-grow: 1;
}
/* END MAIN */

/* WELCOME PAGE */
.welcomePage {
  background-color: var(--red-color);
  background-image: url(images/wolverine.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.leftBox {
  display: flex;
  flex: 0 1 35%;
  align-items: flex-start;
  justify-content: flex-end;
}

.rightBox {
  display: flex;
  flex: 0 1 35%;
  align-items: flex-start;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-container {
  padding: 20px 0;
  padding: 20px 0;
  flex: 0 1 80%;
}

.footer-container p {
  color: var(--white-color);
  line-height: 19px;
  margin: 10px 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}
.container {
  background-color: var(--white-color);
  padding: 30px;
  flex: 0 1 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form {
  max-width: 330px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
}

.form .form__custom-button {
  margin-top: 50px;
}

